@tailwind base;
@tailwind components;
@tailwind utilities;

#banner {
    background-image: url("./assets/bg2.svg");
    background-position: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

#gradientText {
    background:
        linear-gradient(to right, blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}